Server/src/services/userService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="from" type="xsd:string"/>
   <element name="sayHelloWorldFromReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloWorldFromResponse">

      <wsdl:part element="impl:sayHelloWorldFromReturn" name="sayHelloWorldFromReturn"/>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldFromRequest">

      <wsdl:part element="impl:from" name="from"/>

   </wsdl:message>

   <wsdl:portType name="userService">

      <wsdl:operation name="sayHelloWorldFrom" parameterOrder="from">

         <wsdl:input message="impl:sayHelloWorldFromRequest" name="sayHelloWorldFromRequest"/>

         <wsdl:output message="impl:sayHelloWorldFromResponse" name="sayHelloWorldFromResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="accountServiceSoapBinding" type="impl:userService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHelloWorldFrom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloWorldFromRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldFromResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="accountServiceService">

      <wsdl:port binding="impl:accountServiceSoapBinding" name="accountService">

         <wsdlsoap:address location="http://localhost:8080/services/services/accountService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
